@font-face {
    font-family: "cyberspace";
    src: url("../font/cyberspace.otf") format("opentype");
}

@font-face {
    font-family: "digital-7";
    src: url("../font/digital-7.ttf");
}

* {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

body {
    background-color: black;
    color: orange;

    text-align: center;
    font-size: 10pt;
    letter-spacing: 2pt;
    font-family: "cyberspace", sans-serif;
}

a,
button {
    color: whitesmoke;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2rem;
    background-color: transparent;
}

a:hover,
button:hover,
a.active {
    color: orange;
}

.img2 {
    background: url(../img/bg2.jpg);
}

.img4 {
    background: url(../img/bg4.jpg);
}

.bg {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;

    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: -100;
}

.container {
    padding-top: 4rem;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    align-content: center;
}

.page-title {
    font-family: "cyberspace", sans-serif;
    font-size: 2rem;
    padding-bottom: 2rem;
}
