@font-face {
    font-family: "cyberspace";
    src: url("../font/cyberspace.otf") format("opentype");
}

@font-face {
    font-family: "digital-7";
    src: url("../font/digital-7.ttf");
}

* {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

body {
    background-color: black;
    color: orange;

    text-align: center;
    font-size: 10pt;
    letter-spacing: 2pt;
    font-family: "cyberspace", sans-serif;
}

a,
button {
    color: whitesmoke;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2rem;
    background-color: transparent;
}

a:hover,
button:hover,
a.active {
    color: orange;
}

#StopWatchPage {
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    /* flex-wrap: nowrap; */

    /* display: none;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    align-content: center; */
}

.bg-image1 {
    background: url(../img/bg1.jpg) repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: -100;

    /* opacity: 0.9; */
    /* filter: alpha(opacity=50); */
    /* display: none; */
}

.bg-image2 {
    background: url(../img/bg2.jpg) repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: -100;

    /* opacity: 0.9; */
    /* filter: alpha(opacity=50); */

    /* display: none; */
}

.bg-image3 {
    background: url(../img/bg3.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* height: 100vh; */
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: -100;

    /* opacity: .9; */
    /* filter: alpha(opacity=50); */

    /* display: none; */
}

.bg-image4 {
    background: url(../img/bg4.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* height: 100vh; */
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: -100;

    /* opacity: .9; */
    /* filter: alpha(opacity=50); */

    /* display: none; */
}

.container {
    padding-top: 4rem;
    text-align: center;
    /* padding-bottom: 5em; */

    /* display: none; */
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    align-content: center;
}

.laps-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.laps {
    text-decoration: lawngreen;
}

.laps-no {
    padding-top: 0.3rem;
    font-size: 1.5rem;
    transform: scaleY(1.2);
    -webkit-transform: scaleY(1.2); /* Safari and Chrome */
    -moz-transform: scaleY(1.2); /* Firefox */
    -ms-transform: scaleY(1.2); /* IE 9+ */
    -o-transform: scaleY(1.2); /* Opera */
}

.laps-no > p {
    padding-top: 1.1rem;
}

.time-lap {
    font-size: 4rem;
    color: whitesmoke;

    font-family: "digital-7", sans-serif;
}

.timer {
    font-family: "digital-7", sans-serif;
    color: whitesmoke;
    font-size: 14pt;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    align-content: flex-end;
    justify-content: center;
    flex-wrap: nowrap;
}

#disp {
    font-size: 10em;
    width: 2.2em;
    text-align: left;
}

.ms {
    font-size: 5em;
    text-align: right;
    width: 1em;
    margin-bottom: 0.2em;
}

.box-container {
    margin: 1rem 0rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
}

.box-team {
    transform: scaleY(1.1);
    -webkit-transform: scaleY(1.1); /* Safari and Chrome */
    -moz-transform: scaleY(1.1); /* Firefox */
    -ms-transform: scaleY(1.1); /* IE 9+ */
    -o-transform: scaleY(1.1); /* Opera */
    letter-spacing: 5pt;
}

.red-colored {
    color: red;
}

.blue-colored {
    color: blue;
}

.team-name {
    font-size: 1.8em;
    margin-bottom: 5px;
}

.page-title {
    font-family: "cyberspace", sans-serif;
    font-size: 2rem;
    padding-bottom: 2rem;
}
