.buttonContainer {
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3em;
}

.buttonContainer > button {
    border: 0;
    font-size: 2rem;
    font-family: "digital-7", sans-serif;
}

.form > input {
    font-size: 1.2rem;
    font-family: "cyberspace", sans-serif;
    text-align: center;
}

.form > label {
    font-family: "digital-7", sans-serif;
    display: block;
    margin-bottom: 0.1rem;
    margin-top: 1rem;
}
