.pageContainer {
    /* biome-ignore lint: WILL FIX LATER */
    padding-top: 0rem !important;
    margin: 0;
    overflow: hidden;
    height: 100vh;
}

.lapsContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.midLapNo {
    padding-top: 0.3rem;
    font-size: 1.5rem;
    transform: scaleY(1.2);
    -webkit-transform: scaleY(1.2); /* Safari and Chrome */
    -moz-transform: scaleY(1.2); /* Firefox */
    -ms-transform: scaleY(1.2); /* IE 9+ */
    -o-transform: scaleY(1.2); /* Opera */
}

.midLapNo > p {
    padding-top: 1.1rem;
}

.timeLap {
    font-size: 4rem;
    color: whitesmoke;

    font-family: "digital-7", sans-serif;
}

.timer {
    font-family: "digital-7", sans-serif;
    color: whitesmoke;
    font-size: 14pt;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    align-content: flex-end;
    justify-content: center;
    flex-wrap: nowrap;
}

.bigNumber {
    font-size: 10em;
    width: 2.2em;
    text-align: left;
}

.smallNumber {
    font-size: 5em;
    text-align: right;
    width: 1em;
    margin-bottom: 0.2em;
}

.boxContainer {
    margin: 1rem 0rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
}

.boxTeam {
    transform: scaleY(1.1);
    -webkit-transform: scaleY(1.1); /* Safari and Chrome */
    -moz-transform: scaleY(1.1); /* Firefox */
    -ms-transform: scaleY(1.1); /* IE 9+ */
    -o-transform: scaleY(1.1); /* Opera */
    letter-spacing: 5pt;
}

.redColor {
    color: red;
}

.blueColor {
    color: blue;
}

.teamName {
    font-size: 1.8em;
    margin-bottom: 5px;
}
