.navContainer {
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    padding: 1em;
}

.footer {
    position: fixed;
    bottom: 0;
    padding: 1em;
    font-size: 1em;
    text-align: left;
    opacity: 0.5;
}

.footerRow {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.footerRow:nth-child(2) {
    font-family: digital-7, monospace;
    color: whitesmoke;
}

.iconButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: inherit;
    color: inherit;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: all 0.3s ease;
}

.iconButton:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

.iconButton svg {
    font-size: 1.2em;
}
