@font-face {
    font-family: "cyberspace";
    src: url("./assets/fonts/cyberspace.otf") format("opentype");
}

@font-face {
    font-family: "digital-7";
    src: url("./assets/fonts/digital-7.ttf");
}

* {
    padding: 0;
    margin: 0;
}

.clear {
    clear: both;
}

body {
    font-family: "cyberspace", sans-serif;
    font-size: 10pt;
    color: orange;

    text-align: center;
    letter-spacing: 2pt;
    background-color: black;
}

a,
button {
    font-size: 1.2rem;
    color: whitesmoke;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
}

a:hover,
button:hover,
a.active {
    color: orange;
}

.img2 {
    background: url(./assets/images/bg2.jpg);
}

.img4 {
    background: url(./assets/images/bg4.jpg);
}

.bg {
    position: fixed;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -100;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.container {
    flex-direction: column;
    align-content: center;
    align-items: stretch;
    justify-content: center;
    text-align: center;
}

.page-title {
    margin-bottom: 2rem;
    font-family: "cyberspace", sans-serif;
    font-size: 2rem;
}
